<%- include('partials/header.ejs',{title:'Welcome',css:'css/welcome.css'}) -%>
<div class="position-absolute top-50 start-50 translate-middle">
  <form method="post">
    <input type="submit" class="btn btn-outline-dark" name="type" value="Dine-In" style="text-align:start!important;">
    <input type="submit" class="btn btn-outline-dark text-center" name="type" value="Take Away" style="text-align:start!important;">
  </form>
</div>
<%- include('partials/footer.ejs') -%>